*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    height:110vh;
    width:100vw;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    
}
.Title{
    padding:40px;
}
.illustrations{
    background-image: url(images/illustration-mockups.svg);
    background-repeat: no-repeat;
    width:709px;
    height: 500px;
    background-size: contain;
    margin-left:20px ;
}
.body{
    display: flex;
    flex-direction: row;
}
.paragraphs{
    margin-top: 60px;
    padding-left: 40px;
    
}
h1{
    height: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    font-weight: 600;
    color:white;
}
 .paragraphs p{
    margin-top: 100px;
    line-height: 25px;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
button{
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-style: none;
    width:150px;
    height:40px;
    color:hsl(257, 40%, 49%);
    cursor: pointer;
   
    
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 80px;
    gap: 20px;
    margin-right:50px;
    
}


.socials .blue-color {
    color:white;
    padding:15px;
    border: 1px solid white;
    border-radius: 100%;
    gap:20px;
    margin-top: 0px;
    cursor: pointer
}

button:hover{
    background-color:  hsl(300, 69%, 71%);
    color:white;
}

.socials .blue-color:hover{
    color:  hsl(300, 69%, 71%);
    border: 1px solid  hsl(300, 69%, 71%);
}
 @media screen and (max-width : 700px){
    body{
        display: flex;
        flex-direction: column;
 }
 .body{
    display: flex;
    flex-direction: column;
 }
 .socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-right:0px;
    padding:0px;
 }
 .paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0px;
 }
 .illustrations{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 300px;
   width: 300px;
   background-size: contain;
   padding-left: 30px;
 }

}

